/.bundle
/db/.sqlite3
/db/.sqlite3-journal
/log/*
/tmp/*
!/log/.keep
!/tmp/.keep
/storage/*
!/storage/.keep
/node_modules
/yarn-error.log
/public/assets
.byebug_history
/config/master.key
/config/database.yml
/config/credentials.yml.enc
config/settings.local.yml
config/settings/.local.yml
config/environments/.local.yml
.framgia-ci-reports/
.framgia-ci-result.temp.yml
.DS_Store
Dockerfile
/.idea
..swp
.env
coverage
/public/javascripts/
/public/uploads/*
/public/download/*
/lib/tasks//.xlsx
/lib/tasks//.xls
/lib/tasks/**/.json
.env.
!.env.example
gkc_*
/log.txt
/.vscode/settings.json
.rdb
/bin/
/test/*

config/settings.local.yml
config/settings/*.local.yml
config/environments/*.local.yml

# Ignore application configuration
/config/application.yml
/storage
.rakeTasks
