<% provide :title, t("new.title") %>
<% provide :button_text, t("user.new.account") %>
<section class="login-page section-b-space">
  <div class="container">
    <div class="row">
      <div class="col-lg-6">
        <h3><%= t "new.title" %></h3>
        <div class="theme-card">
          <%= render "form" %>
        </div>
      </div>
    </div>
  </div>
</section>
