<tr class="nested-fields">
  <td>
    <%= f.file_field :image, accept: Settings.shop.file_type.gsub(" ", ", ") %>
    <%= f.hidden_field :image_cache, value: f.object.image_cache %>
  </td>
  <td class="preview-images">
    <% if @product.images.any? %>
      <div class="image-detail">
        <%= image_tag @product.images[f.options[:child_index].to_i].image.url %>
      </div>
    <% end %>
  </td>
  <td class="del-img">
    <%= f.check_box :_destroy, title: t("shop.product.create.remove") %>
  </td>
</tr>
