<tr class="nested-fields">
  <td>
    <%= f.collection_select :color_id, load_color, :id, :color, {}, {class: "form-control"} %>
  </td>
  <td>
    <%= f.number_field :quantity, class: "form-control #{is_invalid @product}" %>
    <%= errors_for f, :quantity %>
  </td>
  <td class="del-color">
    <%= f.check_box :_destroy, title: t("shop.product.create.remove") %>
  </td>
</tr>
