<%= provide :title, @product.name %>
<%= provide :button_text, t("shop.product.update.submit") %>
<div class="container-fluid">
  <div class="row product-adding">
    <div class="col-xl-12">
      <div class="card">
        <div class="card-body">
          <div class="digital-add needs-validation">
            <%= render "form" %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
