.form-group label {
  font-weight: 700;
}

.preview-avatar > img {
  max-width: 350px;
  margin-left: 15px;
}

.preview-images {
  max-width: 350px;
}

.preview-images img {
  max-width: 350px;
}

.image-detail {
  max-width: 350px;
}

.image-detail img {
  max-width: 350px;
}

.image-detail .btn-warning {
  opacity: 25%;
  position: relative;
  left: 287px;
  bottom: 38px;
}

.image-detail .btn-warning:hover {
  opacity: 100%;
}
