<header>
  <div class="top-header">
    <div class="container">
      <div class="row">
        <div class="col-lg-6">
        </div>
        <div class="col-lg-6 text-right">
          <ul class="header-dropdown">
            <li class="onhover-dropdown mobile-account"> <i class="fa fa-user" aria-hidden="true"></i>
              <%= t "home.header.account" %>
              <ul class="onhover-show-div">
                <% if logger_in? %>
                  <li><%= link_to t("home.header.account"), "#" %></li>
                <% else %>
                  <li><%= link_to t("home.header.login"), login_path %></li>
                <% end %>
                <li><%= link_to t("home.header.logout"), logout_path, method: :delete %></li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <div class="main-menu"></div>
      </div>
    </div>
  </div>
</header>
